//CORES
$amarelo: #ffe600;
$preto: #333;
$cinza-escuro:#666;
$cinza:#999;
$cinza-claro:#eee;
$azul:#3483fa;
$branco: #fff;

$bg-primario: $amarelo;
$bg-secundaio: $azul;
$bg-terciario: $cinza-claro;
$bg-container: $branco;
$bg-btnCompra: $azul;
$color-breadCrumb: $cinza;
$texto-input: $cinza-escuro;
$texto: $preto;
$texto-prodLocal:$cinza-escuro;
$texto-btnCompra: $branco;
$texto-descricao: $cinza-escuro;


//FONT
$font: 'Roboto', sans-serif;

//FONTE SIZE
$h1: 46px;
$h2: 28px;
$h3:24px;
$h4:18px;
$h5:16px;
$h6:14px;
$h7:12px;

$p-input: $h4;
$p-breadCrumb: $h6;
$p-precoBusca: $h3;
$p-localBusca: $h7;
$p-descBusca: $h4;
$p-qtdDetalhe: $h6;
$h3-nomeDetalhe: $h3;
$h1-precoDetalhe: $h1;
$h2-tituloDescricao: $h2;
$p-descricao: $h5;
$btnCompra: $h5;



//MARGENS E PADDINGS 
$medida1: 4px;
$medida2: 16px;
$medida3: 32px;

//BORDAS
$border: $medida1;


